.body{
    background-image: linear-gradient(120deg, #efddf4 0, #e0cbed 25%, #ccb8e7 50%, #b5a7e1 75%, #9c98dd 100%);
}
.inputs{
    align-items: center;
    flex-direction:row;
}
#cabeceralogo {
    width: 125%;
    height: 150px;
    padding: 0% 2%;
    background-image: url("/Imagenes/cabin12.jpg");
    opacity: 1000;      
    }
    #cabeceralogo > div {
    width: 960px;
    margin: 0px auto;
    padding-top: 45px;
    }
    #cabeceralogo h1 {
    font: bold 54px Arial, sans-serif;
    color: #f4f3fa;
    -webkit-text-stroke: 2px rgb(49, 39, 92);
    border: 10px;
    }
#menuprincipal {
width: 96%;
height: 50px;
padding: 0% 5%;
background-color: #5e80ee;
border-top: 1px solid #030170;
border-bottom: 1px solid #6326c5;
}
#menuprincipal > div {
width: 960px;
margin: 0px auto;
}
#menuprincipal li {
    display: inline-block;
    height: 35px;
    padding: 15px 10px 0px 10px;
    margin-right: 5px;
    }
    #menuprincipal li:hover {
    background-color: #6d56f0;
    border-radius: 6px;
    transition: background-color .4s;
    }
    #menuprincipal a {
    font: bold 18px Arial, sans-serif;
    color: #e0deeb;
    text-decoration: none;
    }
    main {
        width: 96%;
        padding: 2%;
        background-image: url("/Imegenes/cabin1.jpg");
        }
        main > div {
        width: 960px;
        margin: 0px auto;
        }


        #articulosprincipales {
            float: left;
            width: 620px;
        padding-top: 30px;
        background-color: #FFFFFF;
        border-radius: 10px;
        }
        #infoadicional {
        float: right;
        width: 280px;
        padding: 20px;
        background-color: #E7F1F5;
        border-radius: 10px;
        }
        #infoadicional h1 {
        font: bold 18px Arial, sans-serif;
        color: #333333;
        margin-bottom: 15px;
        }
        .recuperar {
        clear: both;
        }
        article {
            position: relative;
            padding: 0px 40px 20px 40px;
            }
            article time {
            display: block;
            position: absolute;
            top: -5px;
            left: -70px;
            width: 80px;
            padding: 15px 5px;
            background-color: #bcc1c4;
            box-shadow: 3px 3px 5px rgba(100, 100, 100, 0.7);
            border-radius: 5px;
            }
            .numerodia {
            font: bold 36px Verdana, sans-serif;
            color: #FFFFFF;
            text-align: center;
            }
            .nombredia {
            font: 12px Verdana, sans-serif;
            color: #FFFFFF;
            text-align: center;
            }
            article h1 {
                margin-bottom: 5px;
                font: bold 30px Georgia, sans-serif;
                }
                article p {
                font: 18px Georgia, sans-serif;
                }
                figure {
                margin: 10px 0px;
                }
                figure img {
                padding: 5px;
                border: 1px solid;
                }
                #pielogo {
                    width: 96%;
                    padding: 2%;
                    background-color: #27a00f;
                    }
                    #pielogo > div {
                    width: 960px;
                    margin: 0px auto;
                    background-color: #acb8ae;
                    border-radius: 10px;
                    }
                    .seccionpie {
                    float: left;
                    width: 270px;
                    padding: 25px;
                    }
                    .seccionpie h1 {
                        font: bold 20px Arial, sans-serif;
                        }
                        .seccionpie p {
                        margin-top: 5px;
                        }
                        .seccionpie a {
                        font: bold 16px Arial, sans-serif;
                        color: #666666;
                        text-decoration: none;
                        }
                        .seccionpie {
                            float: left;
                            width: 27.33%;
                            padding: 3%;
                            }
                            .button {
                                display: inline-block;
                                border-radius: 4px;
                                background-color: #6d56f0;
                                border:  1px;
                                color: #fcf9f9;
                                text-align: center;
                                font-size: 15px;
                                padding: 2px;
                                width: 105px;
                                height: 40px;
                                transition: all 0.5s;
                                cursor: pointer;
                                margin: 2px;
                            }
                            .button2 {
                                display: inline-block;
                                border-radius: 4px;
                                background-color: #6d56f0;
                                border:  1px;
                                color: #fcf9f9;
                                text-align: center;
                                font-size: 12px;
                                padding: 2px;
                                width: 200px;
                                height: 40px;
                                transition: all 0.5s;
                                cursor: pointer;
                                margin: 2px;
                            }
                            .button span {
                            cursor: pointer;
                            display: inline-block;
                            position: relative;
                            transition: 0.5s;
                            }
                            .button span:after {
                            content: '\00bb';  /* Entidades CSS. Para usar entidades HTML, use &#8594;*/
                            position: absolute;
                            opacity: 0;
                            top: 0;
                            right: -20px;
                            transition: 0.5s;
                            }
                            .button:hover span {
                            padding-right: 25px;
                            }
                            .button:hover span:after {
                            opacity: 1;
                            right: 0;
                            }